table{
   border: 5px solid gray; 
}
th{
    background: green;
    color: white;
    width: 150px;
    text-align: center;
    padding: 10px;
}
td{
    border: 2px solid green;
    text-align: center;
    padding: 10px;
}
