body{
    background: white;
    font-family: Verdana;
    background-image: url(images/Blauw.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
nav{
    color: #f4f4f4;
    background: #2c3e50;
    height: 70px;
    border: 5px solid #959da64b;
}
nav div{
    float: left;
    font-size: 18pt;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 70px;
    text-align: center;
}
nav div a{
    text-decoration: none;
    color: #f4f4f4;
}
nav div a:hover{
    text-decoration: underline;
    color: #3498db;
}
nav div a.active{
    text-decoration: none;
    color: #3498db;
}
main{
    height: 450px;
}
h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
p{
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 13pt;
}
footer{
    background: #2c3e50;
    color: #f4f4f4;
    font-size: 11pt;
    padding: 8px;
    border: 5px solid #959da64b;
    text-align: center;
}
th{
    width: auto;
    padding: 10px;
    border: 4px solid #959da64b;
    background: #2c3e50;
    color: white;
    text-align: center;
}
td{
    width: 200px;
    background: lightblue;
    font-size: 14pt;
    padding: 5px;
    border: 2px solid ;
    text-align: center;
}