body {
    font-family: Verdana;
    background-image: url(images/BlauwKlein.jfif);
    background-repeat: repeat;
    background-size: auto;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 80em;
    background-color: lightblue;
}

.row {
    box-sizing: border-box;
    align-items: stretch;
}

nav {
    color: #f4f4f4;
    background: #2c3e50;
    height: 70px;
    border: 5px solid #959da64b;
    text-align: center;
    line-height: 70px;

}

nav div {
    font-size: 18pt;
}

nav div a {
    text-decoration: none;
    color: #f4f4f4;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}

nav div a:hover {
    text-decoration: underline;
    color: #3498db;
}

nav div a.active {
    text-decoration: none;
    color: #3498db;
}

main {
    height: 700px;
}

footer {
    background: #2c3e50;
    color: #f4f4f4;
    font-size: 11pt;
    padding: 8px;
    border: 5px solid #959da64b;
    text-align: center;
}

table {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    border-collapse: collapse;
    box-shadow: 0 0 40px darkblue, 0 0 80px lightblue;
}

.tableopleidingen {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: 10px;
    width: auto;
    border: 4px solid #959da64b;
    background: #2c3e50;
    color: white;
    text-align: center;
}

td {
    padding: 10px;
    width: 200px;
    font-size: 14pt;
    border: 2px solid;
    text-align: center;
    background: white;
}

aside {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

img {
    height: 400px;
}

.shadowbox {
    border-collapse: collapse;
    box-shadow: 0 0 40px rgb(0, 60, 139), 0 0 80px lightblue;
}

h2 {
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}

p {
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14pt;
}